# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

#NEON BANCO

DATABASE_URL=
DATABASE_URL_UNPOOLED=

#BRANCH NEON
NEON_BRANCH=

#NEON AUTH 
NEON_AUTH_BASE_URL=
NEON_AUTH_JWKS_URL=
NEON_AUTH_COOKIE_SECRET=

#CONFIG DO ANIME HUB
USE_JIKAN=true

#NEON API
NEON_API_KEY=
NEON_PROJECT_ID=
NEON_BRANCH_ID=